:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: only light;
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;

  overflow-y: scroll; /* TODO: костыль, чтоб не скакало */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.5rem 1rem;
  margin: 0.25rem;
}

th, td {
  padding: 0.5rem 1rem;
  margin: 0.25rem;
}
