.wrapper {
    width: 80vw;
    height: 100vh;
    min-width: 320px;

    background-color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 2rem;
    padding-right: 2rem;

    color: #686C5E;
}
