.wrapper {
    width: 80vw;
    min-width: 320px;

    background-color: #ffffff;

    display: flex;
    align-items: center;        /* align-content ? */
    justify-content: center;    /* а точно ли эти два то же самое, что и place-items: center ? */
    flex-direction: column;

    padding: 2rem;

    color: #686C5E;
    height: auto;
    margin-top: 10vh;           /* для фиксированного navbar */
}

.content_left {
    width: 50%;
    height: 300px;
}

.content_right {
    float: right;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content_left {
    float: left;
}

.content_center {
    width: 100%;
    height: auto;
    clear: both;

    padding-top: 20px;
    padding-bottom: 20px;
}
